<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Previous Projects</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Respiratory chain related mutation in process of cancer</h3>
                            <div class="time">2016.7 - 2016.9</div>
                        </div><!--//upper-row-->
                        <div class="company">CSBL lab, University of Georgia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Spotting frequent mutation of proteins in respiratory chain in different tumors. Predicting influences on complex structure and efficiency of electron transportation. Trying to find corresponding supports in expression variation and ROS level.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">miRNA and PhasiRNA in symbiosis in Solanum lycopersicum and Phaseolus vulgaris </h3>
                            <div class="time">2015.7 - 2016.5</div>
                        </div><!--//upper-row-->
                        <div class="company">Chen Lab in Nanjing University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Predicted miRNA from sRNA sequencing data of tomato and common bean from both plants and microbes, including mapping, quality control, and structure prediction. Found symbiosis related novel and known miRNAs, especially miR171.</p>
                        <p>Applied statistic methods on PhasiRNA loci prediction and drawn of corresponding distribution figures. Found probable functional links between miRNAs (ex: miR482, miR6026) and PhasiRNA loci (DCL2, CNL).</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Fine mapping of gene for resistance to Soybean Mosaic Virus (SC6-N and SC7-N) in Suweon 97</h3>
                            <div class="time">2014 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Chen Lab in Nanjing University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Identified the region (BARCSOYSSR_13_1114-BARCSOYSSR_13_1115) for SC7 resistance on chromosome 13 in Suweon 97 by crossing experiments, and analysis on both phenotypes and genetic markers.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Analysis of tRNA distribution in Archaea and corresponding evolutional causes</h3>
                            <div class="time">2015.12 - present</div>
                        </div><!--//upper-row-->
                        <div class="company">Chen Lab in Nanjing University</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Constructed phylogenetic tree of 167 Archaea complete genomes by ML methods using ortholog proteins, which is persuasive and more informative.</p>
                        <p>Analyzed tRNA distribution patterns in different Archaea clades. Detailed Records of both tRNA absence (intensely in Methanococcales and Methanobacteriales) and gaining. Display of codon usage in these genomes and discovering definite codon composition in Methanococcales and Methanobacteriales.</p>
                        <p>Analyzed corresponding evolutionary causes for the tRNA composition changes, including correlation among genome size, GC contents, and codon composition. Analyzed the role of adaptive evolution and enzyme efficiency in this absence process. The manuscript is under revision.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Quantitative detection and degradation of the toxins in the environment by E.coli</h3>
                            <div class="time">2013.10 - 2014.10</div>
                        </div><!--//upper-row-->
                        <div class="company">Nanjing-China iGEM Team</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Designed the system for detection, timer, positive feedback, and degradation. Predicted genetic circuit efficiency, molecular distribution, and riboswitches function, through ODE and PDE modeling, by MATLAB and RNAstructure. Implemented experiments on plasmid construction and function verification.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
