<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publication</h2>
                <div class="intro">
                    <p>I have done research related to evolution, bioinformatics, genetic mapping, and system biology in the past. Here are some publicaitons</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">R gene evolution</a></span> - <span class="project-tagline">	Zhu-Qing Shao, Jia-Yu Xue, Ping Wu, Yan-Mei Zhang, Yue Wu, Yue-Yu Hang, Bin Wang, and Jian-Qun Chen. 2016. Large-scale analyses of angiosperm nucleotide-binding site-leucine-rich repeat (NBS-LRR) genes reveal three anciently diverged classes with distinct evolutionary patterns. Plant Physiology 170: 2095-2109.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">miRNA and PhaseRNA analysis(<a href="https://github.com/mikeaalv/phase">Phase</a>)</a></span> -
                    <span class="project-tagline">	Ping Wu, Yue Wu, Cheng-Chen Liu, Li-Wei Liu, Fang-Fang Ma, Xiao-Yi Wu, Mian Wu, Yue-Yu Hang, Jian-Qun Chen, Zhu-Qing Shao, and Bin Wang. 2016. Identification of Arbuscular Mycorrhiza (AM)-Responsive microRNAs in Tomato. Front. Plant Sci 7:429. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">tRNA evolution</a></span> - <span class="project-tagline">	Yue Wu and Zhu-Qing Shao. Distribution of tRNA in Archaea and analysis of corresponding evolution causes. (Under Revision)</span>
                </div><!--//item-->
            </section><!--//section-->
