<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Research_interest</h2>
<div class="summary">
    <p>My main enthusiasms are application of bioinformatic method in genomics and inteperation of corresponding biological meanings, including cancer bioinformatcs, cancer evolution, chromatin structure, and expression anslysis. You could find my CV here (<a href="https://github.com/mikeaalv/online-cv/blob/gh-pages/assets/images/CV_YueWu_forPhD.pdf">CV</a>) </p>
</div><!--//summary-->
</section><!--//section-->
